*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   /* background-color: rgb(90, 134, 173);  */
}
body{
  background-color: aquamarine;
}
.box
{
  width: 60%;
  min-height: 300px;
  /* border: 1px solid black; */
  margin: auto;
  /* background-color: rgb(98, 147, 189); */
  margin-top: 10px;
  padding: 10px;
   /* background-color: rgb(48, 69, 88); */ 
}
.heading h1
{
  text-align: center;
  font-size:3em;
  font-weight: bold;
}
.form-con
{
  width: 80%;
  min-height: 300px;
  border: 9px solid rgb(48, 43, 43);
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  box-shadow: 5px 5px 5px rgb(128, 128, 128);
  border-top-color: blue;
  border-bottom-color: red;
  border-left: 0;
  border-right: 0;
  background-color: rgb(228, 228, 215);
  
}
input[type=text]
{
    width: 95%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-image: url(../images/user1.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left:40px ;
    
}
input[type=password]
{
  width: 95%;
  padding:7px;
  padding: 15px;
  margin-top: 10px;
  border-radius:15px;
  /* outline: none; */
  /* border-bottom: 5px solid red; */
  border: none;
  background-image: url(../images/password.png);
  background-repeat: no-repeat;
  background-position:left;
  padding-left: 40px;
}
input[type=submit]
{
  width: 95%;
  padding: 7px;
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 15px;
  border-bottom: 2px solid black;
  outline:none;
  background-color: rgb(86, 86, 244);
  border: none;
}
input[type=submit]:hover
{
  background-color: rgb(248, 62, 10);
  color: white;
}