*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper
{
  width: 80%;
  min-height: 200px;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-areas: "header header header header header"
  "side1 b1 b2 b3 side2"
  "side1 slider slider slider side2"
  "side1 b4 b5 b6 side2"
  "footer footer footer footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 200px 300px 200px 60px;
  grid-gap: 10px;
} 
.header
{
  grid-area: header;
  background-color: blue;
  color: white;
}
.side1
{
  grid-area: side1;
  background-color: blueviolet;
  color: white;
}
.b1
{
  grid-area: b1;
  background-color: cornflowerblue;
  color: white;
}
.b2
{
  grid-area: b2;
  background-color: cornflowerblue;
  color: white;
}
.b3
{
  grid-area: b3;
  background-color: cornflowerblue;
  color: white;
}
.side2
{
  grid-area: side2;
  background-color: rgb(133, 255, 80);
  color: white;
  display: grid;
  grid-template-areas: "bp1 bp2"
  "bp4 bp3";
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 350px 350px;
  grid-gap: 5px;
  padding: 5px;
}
.bp1
{
  grid-area: bp1;
  background-color: aquamarine;
}
.bp2
{
  grid-area: bp2;
  background-color: chocolate;

}
.bp3
{
  grid-area: bp3;
  background-color: cornflowerblue;

}
.bp4
{
  grid-area: bp4;
  background-color: darkkhaki;
}
.slider
{
  grid-area: slider;
  background-color: deeppink;
  color: white;
}
.b4
{
  grid-area: b4;
  background-color: darkturquoise;
}
.b5
{
  grid-area: b5;
  background-color: darkturquoise;
}
.b6
{
  grid-area: b6;
  background-color: darkturquoise;
}
.footer
{
  background-color: blue;
  grid-area: footer;
}