*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header
{
 text-align: center; 
}
header h1
{
  font-size: 2em;
}
nav a
{
  padding: 10px;
  text-decoration: none;
  color: rgb(82, 67, 67);
}
section
{
  margin-top: 40px;
  margin-left: 20px;
}
article
{
  width: 300px;
  float: left;
  margin-left: 25px;
}
article img
{
  width: 300px;
  height: 200px;
}
article p
{
  text-align: justify;
}
footer
{
  background-color: rgb(240, 191, 191);
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.clearfix::after{
  content: '';
  clear: both;
  display: block;
}
